<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net40" requireReinstallation="true" />
  <package id="log4net" version="2.0.12" targetFramework="net40" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net40" requireReinstallation="true" />
  <package id="NPOI" version="2.5.1" targetFramework="net40" requireReinstallation="true" />
  <package id="Portable.BouncyCastle" version="1.8.6" targetFramework="net40" />
  <package id="SharpCifs.Core" version="0.2.3" targetFramework="net40" />
  <package id="SharpZipLib" version="1.3.0" targetFramework="net45" />
  <package id="SMBLibrary" version="1.4.8" targetFramework="net40" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.113.3" targetFramework="net40" requireReinstallation="true" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.113.6" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.113.6" targetFramework="net40" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net40" requireReinstallation="true" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net40" requireReinstallation="true" />
</packages>